<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome <%=username%>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

        * {
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
            text-decoration: none;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            background: #dfe9f5;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav {
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            left: 0;
            background: #fff;
            width: 280px;
            overflow: hidden;
            transition: width 0.2s linear;
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
        }

        .logo {
            text-align: center;
            display: flex;
            transition: all 0.2s ease;
            margin: 10px 0 30px 10px;
        }

        .logo span {
            font-weight: bold;
            padding-left: 15px;
            font-size: 18px;
            text-transform: uppercase;
        }

        a {
            position: relative;
            color: rgba(85, 83, 83);
            font-size: 14px;
            display: table;
            width: 300px;
            padding: 10px;
        }

        .fas {
            position: relative;
            width: 85px;
            height: 45px;
            top: 14px;
            font-size: 20px;
            text-align: center;
        }

        .nav-item {
            position: relative;
            top: 12px;
            margin-left: 10px;

        }

        a:hover {
            background: linear-gradient(to right, rgba(0, 123, 255, 0.2), rgba(0, 123, 255, 0.1));
        }

        .active {
            transition: 0.1s ease;
            background: linear-gradient(to right, rgba(0, 123, 255, 0.2), rgba(0, 123, 255, 0.1));
        }

        table,
        th,
        td {
            padding: 1rem;
            text-align: center;
        }

        .table {
            margin-left: 250px;
            margin-top: 45px;
        }

        table {
            width: 100%;
        }

        main.table {
            width: 70vw;
            height: 90vh;
            backdrop-filter: blur(7px);
            box-shadow: 0 .4rem .8rem #0005;
            border-radius: 1.0rem;
            overflow: auto;
        }

        .table_header {
            width: 100%;
            height: 10%;
            padding: 2.0rem .1rem .8rem 2.2rem;
        }

        .table_body {
            width: 95%;
            background-color: #fff5;
            margin: .8rem auto;
            border-radius: .6rem;
            overflow: auto;
        }


        .table_body::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        .table_body::-webkit-scrollbar-thumb {
            border-radius: .5rem;
            background-color: #0004;
            visibility: hidden;
        }

        .table_body:hover::-webkit-scrollbar-thumb {
            visibility: visible;
        }

        main.table::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        main.table::-webkit-scrollbar-thumb {
            border-radius: .5rem;
            background-color: #0004;
            visibility: hidden;
        }

        main.table:hover::-webkit-scrollbar-thumb {
            visibility: visible;
        }

        tbody tr:nth-child(even) {
            background-color: #0000000b;
        }

        tbody tr:hover {
            background-color: rgba(73, 98, 127, 0.4);
            transition: .2s;
        }

        #myFiles {
            display: none;
        }

        #mostViewed {
            display: none;
        }

        .dnldbtn {
            cursor: pointer;
        }


        .popup {
            width: 400px;
            height: 350px;
            background: linear-gradient(to right, rgba(0, 123, 255, 0.2), rgba(0, 123, 255, 0.1));
            border-radius: 6px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 0 30px 30px;
            color: #333;
            display: none;
        }

        .popup h2 {
            font-size: 38px;
            font-weight: 500;
            margin: 20px 0 10px;
        }

        .popup button {
            width: 80%;
            margin-top: 50px;
            padding: 10px 0px;
            background: linear-gradient(to right, rgba(0, 123, 255, 0.4), rgba(0, 123, 255, 0.4));
            border: 0;
            outline: none;
            font-size: 18px;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        }

        #description {
            margin-top: 20px;
            width: 100%;
            height: 40px;
            font-size: 19px;
            text-align: center;
        }

        #filePicker {
            color: #000;
            font-size: 14px;
            max-width: 270px;
            margin-top: 30px;
            margin-left: 85px;
        }
    </style>
</head>

<body>
    <nav>
        <ul id="navList">
            <li>
                <a href="#" class="logo">
                    <span class="nav-item">
                        <%=username%>
                    </span>
                </a>
            </li>
            <li class="active"><a href="#" onclick="SetActive(this); allFiles()">
                    <i class="fas fa-home"></i>
                    <span class="nav-item">All Files</span>
                </a></li>
            <li><a href="#" onclick="SetActive(this); myFiles()">
                    <i class="fas fa-user"></i>
                    <span class="nav-item">My Files</span>
                </a></li>
            <li><a href="#" onclick="SetActive(this); mostViewed()">
                    <i class="fas fa-chart-bar"></i>
                    <span class="nav-item">Most Viewed</span>
                </a></li>
            <li><a href="#" onclick="SetActive(this); upload()">
                    <i class="fas fa-upload"></i>
                    <span class="nav-item">Upload File</span>
                </a></li>
            <li><a href="#" onclick="logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item">Log out</span>
                </a></li>
        </ul>
    </nav>

    <main class="table" id="allFiles">
        <section class="table_header">
            <h1>All Files</h1>

            <!-- search feature -->

        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th> Checksum </th>
                        <th> Description </th>
                        <th> Size </th>
                        <th> Uploaded By </th>
                        <th> Upload Date </th>
                        <th> Options </th>
                    </tr>
                </thead>
                <tbody>

                    <% all_files.forEach(item=> { %>
                        <tr>
                            <td>
                                <%= item.fileName %>
                            </td>
                            <td>
                                <%= item.subject %>
                            </td>
                            <td>
                                <%= item.size %>
                            </td>
                            <td>
                                <%= item.author %>
                            </td>
                            <td>
                                <%= item.uploadDate %>
                            </td>
                            <td>
                                <span class="dnldbtn" onclick="download('<%= item.noteID%>')">Download</span>
                            </td>
                        </tr>
                        <% }); %>

                </tbody>
            </table>
        </section>
    </main>


    <main class="table" id="myFiles">
        <section class="table_header">
            <h1>My Files</h1>

            <!-- search feature -->

        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th> Checksum </th>
                        <th> Description </th>
                        <th> Size </th>
                        <th> Uploaded By </th>
                        <th> Upload Date </th>
                        <th> Options </th>
                    </tr>
                </thead>
                <tbody>

                    <% my_files.forEach(item=> { %>
                        <tr>
                            <td>
                                <%= item.fileName %>
                            </td>
                            <td>
                                <%= item.subject %>
                            </td>
                            <td>
                                <%= item.size %>
                            </td>
                            <td>
                                <%= item.author %>
                            </td>
                            <td>
                                <%= item.uploadDate %>
                            </td>
                            <td><span class="dnldbtn" onclick="deleteFile('<%= item.noteID%>')">Delete</span></td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </section>
    </main>


    <main class="table" id="mostViewed">
        <section class="table_header">
            <h1>Most Downloaded</h1>
            <!-- search feature -->

        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th> Checksum </th>
                        <th> Description </th>
                        <th> Size </th>
                        <th> Uploaded By </th>
                        <th> Total Downloads </th>
                    </tr>
                </thead>
                <tbody>
                    <% const sortedFiles=all_files.sort((a, b)=> b.download_count - a.download_count);
                        sortedFiles.forEach(item=> {
                        %>
                        <tr>
                            <td>
                                <%= item.fileName %>
                            </td>
                            <td>
                                <%= item.subject %>
                            </td>
                            <td>
                                <%= item.size %>
                            </td>
                            <td>
                                <%= item.author %>
                            </td>
                            <td>
                                <strong>
                                    <%= item.download_count %>
                                </strong>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </section>
    </main>



    <div class="popup" id="uploadPopup">
        <h2>Upload File</h2>
        <form method="post" id="uploadForm">
            <input type="file" id="filePicker" name="file" required>
            <input type="text" id="description" name="subject" required>
            <input type="hidden" name="user" value=<%=username%>>
            <button type="submit">Upload</button>
        </form>
    </div>

    <script>

        var allFilesTable = document.getElementById('allFiles')
        var myFilesTable = document.getElementById('myFiles')

        function SetActive(element) {
            var navList = document.getElementById('navList');
            var listItems = navList.getElementsByTagName('li');
            for (var i = 0; i < listItems.length; i++) {
                listItems[i].classList.remove('active');
            }
            element.closest('li').classList.add('active');
        }

        function upload() {
            var e = document.getElementById('uploadPopup');
            document.getElementById('allFiles').style.display = 'none';
            document.getElementById('myFiles').style.display = 'none';
            document.getElementById('mostViewed').style.display = 'none';
            e.style.display = 'block';
        }

        async function download(uid) {

            console.log(uid);

            try {
                const apiUrl = '<%= API_BASE_URL %>/download/' + uid;
                const response = await fetch(apiUrl);
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const contentDisposition = response.headers.get('Content-Disposition');
                const filenameMatch = contentDisposition && contentDisposition.match(/filename="(.*)"/);
                const filename = filenameMatch ? filenameMatch[1] : 'downloaded_file.bin';

                const blob = await response.blob();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);

            } catch (error) {
                console.error('Error:', error.message);
            }

        }

        function deleteFile(uid) {

            const req = new FormData();
            req.append('noteId', uid);

            axios.post('<%= API_BASE_URL%>/delete', req)
                .then(response => {
                    if (response.status === 200) {
                        alert('Deleted Successfully');
                        location.reload(true);
                    } else {
                        alert('An error occurred: ' + response.status);
                    }
                })
                .catch(error => {
                    alert('Delete Failed');
                    console.error(error.response.data);
                });

        }

        function allFiles() {
            document.getElementById('allFiles').style.display = 'block';
            document.getElementById('myFiles').style.display = 'none';
            document.getElementById('mostViewed').style.display = 'none';
            document.getElementById('uploadPopup').style.display = 'none';
        }

        function myFiles() {
            document.getElementById('allFiles').style.display = 'none';
            document.getElementById('myFiles').style.display = 'block';
            document.getElementById('mostViewed').style.display = 'none';
            document.getElementById('uploadPopup').style.display = 'none';
        }

        function mostViewed() {
            document.getElementById('allFiles').style.display = 'none';
            document.getElementById('myFiles').style.display = 'none';
            document.getElementById('mostViewed').style.display = 'block';
            document.getElementById('uploadPopup').style.display = 'none';
        }

        function logout() {
            if (confirm('Do you want to logout ?')) {
                document.cookie = " user=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                window.location.href = '/login';
            }
        }

        function setCookie(name, val, exp) {
            const curDate = new Date();
            curDate.setTime(curDate.getTime() + (exp * 24 * 60 * 60 * 1000));
            document.cookie = name + '=' + val + ';' +
                'expires=' + curDate.toUTCString() + ';' +
                'path=/';
        }

        document.getElementById('uploadForm').addEventListener('submit', function (event) {
            event.preventDefault();
            axios.post('<%= API_BASE_URL%>/upload', new FormData(this), {
                headers: {
                    'Content-Type': 'multipart/form-data',
                },
            })
                .then(response => {
                    if (response.status === 200) {
                        alert('Uploaded Successfully');
                        location.reload(true);
                    } else {
                        alert('An error occurred: ' + response.status);
                    }
                })
                .catch(error => {
                    alert('Upload Failed');
                    console.error(error.response.data);
                });
        });

    </script>
</body>

</html>